body{

margin:0;
background:#fff8fb;
overflow:hidden;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

#start{
text-align:center;
}

button{

padding:15px 40px;
font-size:25px;
border:none;
border-radius:40px;
background:#ff8ab8;
color:white;
cursor:pointer;

}

#envelopePage{

display:none;

}

#envelope{

width:250px;
cursor:pointer;
transition:1s;

}

.open{

transform:scale(1.15) rotateX(35deg);

}

#paper{

display:none;

position:absolute;

background:white;

width:75%;

max-width:700px;

padding:40px;

border-radius:20px;

box-shadow:0 0 30px rgba(0,0,0,.2);

animation:show 2s;

line-height:1.8;

z-index:999;

}

@keyframes show{

from{

opacity:0;
transform:translateY(100px);

}

to{

opacity:1;
transform:translateY(0);

}

}

.float{

position:absolute;

font-size:35px;

animation:fly 5s linear forwards;

}

@keyframes fly{

0%{

transform:translateY(0);

opacity:1;

}

100%{

transform:translateY(-900px);

opacity:0;

}

}
